body {
    /*background-image: url("Img/1.jpg");
    background-color:  lightgray;
    background-size: 900px 900px;*/

}

.column {
    box-sizing: border-box;
    position: absolute;
    height: auto;
    min-height: 500px;
    top: 300px;
    left: 400px;
    right: 400px;
    width: 800px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: azure;
    text-align: justify;
}

.header {
    position: absolute;
    top: 100px;
    left: 400px;
    right: 400px;
    width: 800px;
    height: 150px;
    background-color: antiquewhite;
}
 
